# Ignorar archivos de configuración del entorno
.env

# Ignorar dependencias de node.js
node_modules/

# Ignorar archivos de compilación de Python
__pycache__/
*.pyc

# Ignorar archivos de log
*.log

# Ignorar archivos de configuración específicos de IDE
.vscode/
.idea/

# Ignorar binarios y archivos compilados
*.o
*.out
*.exe

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar carpetas específicas
build/
dist/

# Ignorar archivos de configuración personal
*.local
*.config
mlops1env/Lib/site-packages/altair-5.3.0.dist-info/licenses/LICENSE
/mlops1env/Lib/site-packages/altair-5.3.0.dist-info
/mlops1env/Lib/site-packages/altair
/mlops1env/Lib/site-packages/attr
/mlops1env/Lib/site-packages/attrs-23.2.0.dist-info
/mlops1env/Lib/site-packages/attrs
/mlops1env/Lib/site-packages
/mlops1env
